body {
    background: #F0EFF2;
}

.application {
    width: 900px;
    margin: 78px auto 170px auto;
}

.application__title {
    margin-bottom: 61px;
}

.application__links {
    padding-bottom: 17px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    gap: 106px;
    margin-bottom: 44px;
}

.application__link {
    letter-spacing: 0.15rem;
    color: #000;
}

.application__link:first-of-type {
    margin-left: 45px;
}

.application__link.is-active {
    font-weight: bold;
    color: #000;
}

.application__table-header,
.application__table-detail {
    text-align: left;
    padding: 14px 0;
}

/* 状態 */
.application__table-header:first-of-type {
    width: 180px;
    padding-left: 55px;
}

.application__table-detail:first-of-type {
    padding-left: 37px;
}

.application__table-header:nth-of-type(2) {
    width: 125px;
}

.application__table-header:nth-of-type(3) {
    width: 164px;
}

.application__table-header:nth-of-type(4),
.application__table-header:nth-of-type(5) {
    width: 155px;
}