.attendance__status {
    margin: 209px auto 0px auto;
    width: 680px;
    text-align: center;
}

.attendance__status-text {
    font-size: 18px;
    color: #696969;
    font-weight: bold;
    background: #C8C8C8;
    border-radius: 50px;
    width: 100px;
    margin: 0 auto;
    line-height: 40px;
    margin-bottom: 32px;
    letter-spacing: 0.15rem;
}

.attendance__status-date {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
}

.attendance__status-time {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 87px;
}

.attendance__status-button {
    width: 221px;
    line-height: 77px;
    border-radius: 20px;
    font-size: 32px;
    letter-spacing: 0.15rem;
}

.attendance__status-change-buttons {
    display: flex;
    width: 524px;
    margin: 0 auto;
    gap: 82px;
}

.attendance__status-change-button--break {
    background: #fff;
    font-weight: bold;
}

.attendance__status-clock-out {
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.15rem;
    line-height: 31px;
}

.attendance__status-time--after-clockout {
    margin-bottom: 102px;
}