.attendance__detail {
    width: 900px;
    margin: 93px auto 57px auto;
}

.attendance__detail-title {
    margin-bottom: 55px;
}

.attendance__form-inner {
    background: #fff;
    border-radius: 10px;
    letter-spacing: 0.15rem;
}

.attendance__form-group {
    display: grid;
    align-items: center;
    border-bottom: 2px solid #E1E1E1;
}

.attendance__form-group--display {
    grid-template-columns: 357px 1fr;
}

.attendance__form-group--input {
    grid-template-columns: 333px 1fr;
}

.attendance__form-group--remark-readonly {
    grid-template-columns: 357px 1fr;
}

.attendance__form-group:last-child {
    border-bottom: none;
}

.attendance__form-group:first-of-type {
    padding: 36px 0 24px 0;
}

.attendance__form-group:nth-of-type(2) {
    padding: 35px 0;
}

.attendance__form-group:nth-of-type(3),
.attendance__form-group--input:has(.attendance__form-label-break) {
    padding: 31px 0 32px 0;
}

.attendance__form-group:nth-last-of-type(2) {
    padding: 40px 0 36px 0;
}

.attendance__form-group:last-of-type {
    padding: 40px 0 47px 0;
}

.attendance__form-label {
    color: #737373;
    font-weight: bold;
    margin-left: 64px;
}

.attendance__date-value {
    display: flex;
    gap: 142px;
}

.attendance__form-value {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.attendance__name-space {
    width: 1em;
}

.attendance__input-time {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    width: 103px;
    line-height: 29px;
    padding: 5px 0 0 24px;
    letter-spacing: 0.15rem;
    outline: none;
}

.attendance__remark-textarea {
    width: 316px;
    height: 72px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    padding: 5px 0 5px 13px;
    font-weight: bold;
    outline: none;
}

.attendance__input-separator {
    display: inline-block;
    margin: 0 43px 0 51px;
    text-align: center;
}

.attendance__form-submit {
    width: 130px;
    line-height: 50px;
    border-radius: 5px;
    margin-left: auto;
    display: block;
    font-size: 22px;
}

.attendance__notice {
    letter-spacing: 0.15rem;
    color: rgba(255, 0, 0, 0.5);
    text-align: right;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 25px;
}

.attendance__buton--disabled {
    font-weight: bold;
    color: #fff;
    background: #696969;
}

.attendance__input-error {
    grid-column: 2;
}

.attendance__button--disabled {
    background-color: #696969;
    color: #fff;
    font-weight: bold;
}

.attendance__input-time--readonly {
    border: 1px solid transparent;
    pointer-events: none;
    width: 55px;
    padding: 5px 0;
}

.attendance__remark-textarea--readonly {
    border: 1px solid transparent;
    pointer-events: none;
}

.attendance__input-separator--readonly {
    margin: 0 67px 0 72px;
}

.attendance__form-submit--staff {
    margin-top: 36px;
}

.attendance__form-submit--admin {
    margin-top: 56px;
}