.attendances__list-detail,
.attendances__list-header {
    text-align: left;
    padding: 14px 0;
}

.attendances__pager-current-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

/* 日付 */
.attendances__list-header-date {
    padding-left: 55px;
    width: 246px;
}

.attendances__list-date {
    padding-left: 55px;
}

.attendances__list-header--shift {
    width: 133px;
}

.attendances__list-header--shift:nth-child(2),
.attendances__list-header--shift:nth-child(3) {
    padding-left: 10px;
}

.attendances__list-header--shift:nth-child(4),
.attendances__list-header--shift:nth-child(5) {
    padding-left: 5px;
}