/* common */
body {
    font-family: "Inter";
    background: #F0EFF2;
}

.no-page-bg {
    background-color: transparent;
}

.content {
    max-width: 1512px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    outline: none;
}

textarea {
    outline: none;
}

button {
    width: 100%;
}

.common-btn {
    background: #000;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.common-link {
    font-size: 20px;
    color: #0073CC;
}

.common-table-title {
    font-size: 30px;
    line-height: 36px;
    padding-left: 21px;
    border-left: 8px solid #000;
}

.common-table {
    width: 100%;
    color: #737373;
    table-layout: fixed;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    font-weight: bold;
}

.common-table th,
.common-table td {
    border-bottom: 3px solid #E1E1E1;
    letter-spacing: 0.15em;
}

.common-table tr:last-child th,
.common-table tr:last-child td {
    border-bottom: none;
}

.common-table td:last-child a {
    color: #000;
}

.input-error {
    color: #FF0000;
}

/* header */
.header {
    background: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px 0 25px;
    height: 82px;
}

.header__logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.header__logo-img {
    display: block;
}

.header__nav-list {
    display: flex;
    gap: 41px;
    font-size: 24px;
}

.header__nav-link,
.header__nav-button {
    color: #fff;
    font-weight: bold;
}