.attendances {
    width: 900px;
    margin: 91px auto 114px auto;
}

.attendances__title {
    margin-bottom: 47px;
}

.attendances__pager {
    display: flex;
    background: #fff;
    justify-content: space-between;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 46px;
}

.attendances__pager-prev,
.attendances__pager-next,
.attendances__pager-current {
    display: flex;
    align-items: center;
}

.attendances__pager-current {
    gap: 11px;
}

.attendances__pager-current-label {
    font-size: 20px;
    font-weight: bold;
}

.attendances__pager-prev,
.attendances__pager-next {
    gap: 4px;
    letter-spacing: 0.15em;
}

.attendances__pager-prev {
    margin-left: 25px;
}

.attendances__pager-next {
    margin-right: 24px;
}

.attendances__pager-prev-label,
.attendances__pager-next-label {
    font-weight: bold;
    color: #737373;
}

.attendances__list-header,
.attendances__list-detail {
    text-align: left;
}

.attendances__list-header {
    padding: 15px 0 12px 0;
}

.attendances__list-header:first-child {
    padding-left: 57px;
}

.attendances__list-detail {
    padding: 14px 0;
}

.attendances__pager-current-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* スタッフ側の一覧 */
.attendances__list-header-date {
    width: 246px;
}

.attendances__list-date {
    padding-left: 55px;
}

/* 管理者側の一覧 */
.attendances__list-header-name {
    width: 238px;
}

.attendances__list-name {
    padding-left: 36px;
}

.attendances__list-header--shift {
    width: 133px;
}

.attendances__list-header--shift:nth-child(2),
.attendances__list-header--shift:nth-child(3) {
    padding-left: 10px;
}

.attendances__list-header--shift:nth-child(4),
.attendances__list-header--shift:nth-child(5) {
    padding-left: 5px;
}

.attendances__list-table {
    margin-bottom: 60px;
}

.attendances__csv-button {
    display: block;
    width: 184px;
    line-height: 50px;
    margin-left: auto;
    border-radius: 5px;
}