.login {
    width: 680px;
    margin: 108px auto 0 auto;
}

.login__title {
    text-align: center;
    margin-bottom: 72px;
}

.login__group:first-of-type {
    margin-bottom: 69px;
}

.login__group:nth-of-type(2) {
    margin-bottom: 105px;
}

.login__label {
    line-height: 36px;
}

.login__input {
    height: 57px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
    padding-left: 16px;
}

.login__button {
    height: 60px;
    border-radius: 5px;
    font-size: 26px;
    margin-bottom: 17px;
}

.login__link {
    display: block;
    line-height: 49px;
    text-align: center;
}