body {
    background: #F0EFF2;
}

.staff__list {
    width: 900px;
    margin: 126px auto 325px auto;
}

.staff__list-title {
    margin-bottom: 98px;
}

.staff__list-detail,
.staff__list-header {
    text-align: center;
    padding: 14px 0 12px 0;
}

.staff__list-header:first-of-type,
.staff__list-detail:first-of-type {
    padding-left: 171px;
    width: 302px;
}

.staff__list-header:nth-of-type(2),
.staff__list-header:nth-of-type(2) {
    width: 334px;
}

.staff__list-header:last-of-type,
.staff__list-detail:last-of-type {
    text-align: left;
}

.staff__list-header:last-of-type {
    padding-left: 56px;
}

.staff__list-detail:last-of-type {
    padding-left: 78px;
}